.thumbnail{
    width: 100%;
}

.video_preview{
    width:100%;
}

.video_title{
    font-size:14px;
    font-weight:500;
    line-height:20px;
    margin-bottom: 10px;
    margin-top:0px;
}

.video_author{
    color: #606060;
    font-size: 12px;
    margin-bottom: 4px;
}

.video_stats{
    margin-top:0px;
    color: #606060;
    font-size: 12px;

}

.video_info_grid{
    display:grid;
    grid-template-columns:50px 1fr;
}


.profile_picture{
    width:36px;
    border-radius: 50px;
}
.thumbnail_row{
    margin-bottom: 8px;
    position:relative;
}

.video_preview_grid{
    
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 15px;
    row-gap:40px;
}

@media (max-width:850px){
    .video_preview_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751) and (max-width:1249) {
    .video_preview_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1250px){
    .video_preview_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.video_time{
    
    font-size:12px;
    font-weight:500;
    padding: 4px;
    border-radius: 2px;

    background-color:rgba(0, 0, 0,0.75);
    color:white;
    position:absolute;
    bottom:8px;
    right:5px;
}